page-maintainance {
.yellowText{    color: rgb(208, 208, 18); font-weight: bold;}
.whiteText{color: #fff;    font-weight: 600;}
.grayText{    color: rgb(173, 172, 172);   font-weight: 600;}
.maintenanceImg{position:absolute;bottom:0px;right:0px; width: 100%;    padding: 6px;}
.maintenanceholder{    text-align: center; margin-top: 8%;}
.warningIcon{ font-size: 40px;color: #fff;}


}
