<ion-header>
    <ion-navbar>
      <ion-title *ngIf="formData">{{ formData.form_name }}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="bg" #content>

      <div [ngClass]="{'newOverlay':formData.form_status != 'enable'}"> 

   <div *ngIf="data">
      <div class="right"  (click)=addMember()>
          <ion-row>
            <ion-col *ngIf="formData && formData.form_status == 'enable'" col-12 text-right>
                <button ion-button icon-end round  small class="mybtn">
                    Add Nominee 
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                  </button>
            </ion-col>
          </ion-row>
      </div>
      <div *ngFor="let item of data; let i = index;">
          <div class="formDiv" *ngIf="item.layout == 'FORM'">
      
              <ion-row class="cardHeader">
                <ion-col col-10 text-left>
                  <p class="heading">{{ item.firstEdit ? (i+1) + '. Add Nominee' : item.GratuityDetails.nominee_name.value }}</p>
                </ion-col>
                <ion-col *ngIf="item.firstEdit && data.length > 1 " col-2 text-right class="icon" (click)="closeForm(item)">
                  <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
                </ion-col>
                <ion-col *ngIf="!item.firstEdit" col-2 text-right class="icon" (click)="changeToCard(item)">
                  <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
                </ion-col>
              </ion-row>
      
              <customInput
                label="Name"
                [data]="item.GratuityDetails.nominee_name"
                type="text"
                [otherStatus]="isSubmited"
              ></customInput>
      
              <customInput
                label="Address"
                [data]="item.GratuityDetails.nominee_address"
                type="textArea"
                [otherStatus]="isSubmited"
              ></customInput>
      
              <customInput
                label="Age"
                [data]="item.GratuityDetails.age_nominee"
                type="number"
                [otherStatus]="isSubmited"
              ></customInput>

              <customInput
                label="Relation"
                [data]="item.GratuityDetails.relation_nominee"
                type="text"
                [otherStatus]="isSubmited"
              ></customInput>

              <customInput
                label="Sharing Portion (in %)"
                [data]="item.GratuityDetails.gratuity_sharing_proportion"
                type="number"
                [otherStatus]="isSubmited"
              ></customInput>

      
              <div text-center class="btndiv">
                  <button ion-button class="btn" (click)="submit(item)">{{ item.firstEdit ? 'Save' : 'Update' }}</button>
              </div>
      
          </div>
          <div class="formDiv" *ngIf="item.layout == 'CARD'">
              <ion-row class="cardHeader">
                  <ion-col col-8 text-left>
                    <p class="heading">{{ item.GratuityDetails.nominee_name.value }}</p>
                  </ion-col>
                  <ion-col *ngIf="formData && formData.form_status == 'enable'" col-2 text-right class="icon" (click)="editFamilyDetails(item)">
                      <ion-icon name="ios-create-outline" class="iconcss"></ion-icon>
                  </ion-col>
                  <ion-col *ngIf="formData && formData.form_status == 'enable'" col-2 text-right class="icon" (click)="showConfirm(item)" >
                      <ion-icon name="ios-trash-outline" class="iconcss"></ion-icon>
                  </ion-col>
              </ion-row>
             
              <div class="customCardDiv">
                  <!-- <p class="para">Emergency Contact</p> -->
                  <ion-row class="bod_bot">
                    
                      <ion-col col-6> <p class="para2">Name</p></ion-col>
                      <ion-col col-6><p class="para3">{{item.GratuityDetails.nominee_name.value}}</p></ion-col>
                  </ion-row>
                  <ion-row class="bod_bot">
                      <ion-col col-6><p class="para2">Address</p></ion-col>
                      <ion-col col-6> <p class="para3">{{item.GratuityDetails.nominee_address.value}}</p></ion-col>
                  </ion-row>
                  <ion-row class="bod_bot">
                    <ion-col col-6> <p class="para2">Age</p></ion-col>
                    <ion-col col-6><p class="para3">{{item.GratuityDetails.age_nominee.value}}</p></ion-col>
                  </ion-row>
                  <ion-row class="bod_bot">
                      <ion-col col-6> <p class="para2">Relation</p></ion-col>
                      <ion-col col-6><p class="para3">{{item.GratuityDetails.relation_nominee.value}}</p></ion-col>
                  </ion-row>
                  <ion-row class="bod_bot">
                      <ion-col col-6> <p class="para2">Sharing Portion</p></ion-col>
                      <ion-col col-6><p class="para3" *ngIf="item.GratuityDetails.gratuity_sharing_proportion.value >= 1" [ngClass]="{'danger': shareError}">{{item.GratuityDetails.gratuity_sharing_proportion.value + '%'}}</p></ion-col>
                  </ion-row>
              </div>
          </div>
        </div>
        <div *ngIf="formData && formData.form_status == 'enable'">
          <div class="right" *ngIf="data && data.length>0 && data[data.length - 1].layout == 'CARD'" (click)="submit_all()">
            <ion-row *ngIf="data[0].layout == 'CARD'">
              <ion-col col-12 text-center>
                  <button ion-button icon-end round  small class="mybtn">
                      Submit
                    </button>
              </ion-col>
            </ion-row>
        </div>
        </div>
       
   </div>

      </div>
  </ion-content>