
<ion-header>
  <ion-navbar>
    <ion-title>Quiz</ion-title>
        <ion-buttons end>
        <!-- <button ion-button (click)="goTohistory()" clear>
        <img src="../../assets/imgs/quiz history icon.png" class="headerimg"/>
      </button> -->

      <button ion-button (click)="goTohome()" clear>
      <img src="assets/icon/Home_icon.png" class="headerimg"/>
    </button>

      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
<div *ngIf="success!=0">
    <ion-slides #slides speed="500" shouldLockSwipes=true; class="asstest" spaceBetween="10" slidesPerView="1" >

        <ion-slide *ngFor="let attendant of quizdata;let j=index" style="overflow-y:scroll;">
             <!-- <ion-row><ion-col col-10></ion-col><ion-col col-2><p style="margin: 0px;
              font-size: 10px;
              right: 0px;">{{j+1}}/{{quizdata.length}}</p></ion-col></ion-row>  -->
              
              <ion-row><ion-col col-6></ion-col><ion-col col-6><p style="margin: 0px;
                font-size: 15px;    text-align: end;
                ">Question {{attendant?.serial_number}} out of {{total_question}}</p></ion-col></ion-row> 
          <ion-row>
            <ion-col col-12>
             <ion-card style="width:100%;">
               <div class="marg">
                  <!-- <h6>{{j+1}}.&nbsp;{{attendant.question}}</h6> -->
                  <h6>{{attendant.question}}</h6>
               </div>
                
             </ion-card> 
            </ion-col>
            <!-- <ion-col  col-12><img  (click)="zoomImage(attendant?.file,attendant.question)" class="imgclass"  margin-top margin-bottom src="{{attendant?.question_image}}"></ion-col> -->
            <ion-col col-12 no-padding>
              <ion-row  [ngClass]="{'rowgray':(nexton==true)}">
              <ion-col *ngFor="let answer of attendant?.option let i = index" (click)="optiondata(i,answer.option_id,attendant.question_id,j,attendant.right_ans_id)" 
               class="options" col-6  >

               <!-- (selectedanswerIndex==i && submitButtonClick==true && answer?.option_id==attendant?.right_ans_id) -->


               <!-- (selectedanswerIndex!=i && submitButtonClick==true && answer?.option_id!=attendant?.right_ans_id)), -->

              <!-- <div [ngClass]="{'stylecolorgrey':(this.colorclass!=i),'stylecolorblue':(this.colorclass==i),
              'stylecolorred':(this.right_ans_id!=this.selectedanswer),'stylecolorgreen':(this.right_ans_id==this.selectedanswer)}">
              <ion-label style="white-space: normal;">{{answer?.options}}</ion-label> 
               </div> -->
               <div [ngClass]="{'stylecolorgrey':(selectedanswerIndex!=i && submitButtonClick==false || selectedanswerIndex!=i && submitButtonClick==true ),
               'stylecolorblue':(selectedanswerIndex==i && submitButtonClick==false ),
               'stylecolorgreen':(greenind==i),
               'stylecolorred':(selectedanswerIndex==i && submitButtonClick==true && answer?.option_id!=attendant?.right_ans_id)
              }">
                  {{answer?.options}}
<br>
                  <!-- ind: {{selectedanswerIndex}}=={{i}}  <br>/click: {{submitButtonClick}}
                   <br>/rightAn: {{answer?.option_id}}=={{attendant?.right_ans_id}}<br>
                   {{greenind}}/{{i}} -->
               </div>

              </ion-col>
            </ion-row>
            </ion-col>
          </ion-row>
          <div ><br><br>
              <!-- <button ion-button round class="btn" *ngIf="(showsubmit==true || totallength>=1) && (nexton==false)" (click)="quizsubmit()">Submit</button> -->
              <button ion-button round class="btn" *ngIf="(showsubmit==true && totallength>=1) && (nexton==false)" (click)="quizsubmit()">Submit</button>
              <button ion-button round class="btn1" *ngIf="showsubmit==false && totallength>=1" >Submit</button>
              <button ion-button round class="btn" *ngIf="nexton==true" (click)="nextslide(j)">Next</button>
            </div>
         
            <br><br>
      


         <ion-card style=" width: 97%;margin-left: 5px;">
            <ion-row>
          <ion-col col-12>
            <!-- <img class="aboutEvalBg" srcset="{{quizimg}}" src="assets/watermark/watermark.png"> -->
            <p class="inst">My Score</p>
          </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col col-6>
          <ion-row>
            <!-- <ion-col col-1></ion-col> -->
            <ion-col col-10>
              <p class="font">Total Questions</p>
              <p class="font"> Questions Attempted</p>
              <p class="font">Correct Answers</p>
            </ion-col>
            <ion-col col-2>
                <p>{{total_question}}</p>
                <p> {{total_attempted}}</p>
                <p>{{total_correct_answer}}</p>
            </ion-col>
          </ion-row>
            </ion-col>
            <ion-col col-6 class="paddtop">
              <p *ngIf="rewardsapplicable==1" class="mrtop">My Points</p>
                <div class="progress-wrapper" *ngIf="rewardsapplicable==1">
                      <circle-progress class="formCircle" [percent]="total_percent" [radius]="40" [outerStrokeWidth]="6" 
                                [showTitle]="false" [showSubtitle]="true" [title]="test" [subtitle]=total_point
                                 [innerStrokeWidth]="3" [showUnits] = "false" subtitleFontSize = '12'
                                [outerStrokeColor]="'#542e56'" [innerStrokeColor]="'#7b4b7d'" [animation]="true"
                                [animationDuration]="300"></circle-progress>
                  </div>
              </ion-col>
          </ion-row>
        </ion-card>

        <div class="padd8" style="height:50px">
          <span style="float: left; margin-left: 14px" class="instcss" (click)="goTohistory()" ><ion-icon style="font-size:15px" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp; History</span>
        <span style="float:right;" class="instcss"(click)="gotoinstruction(j)"> Instructions &nbsp;<ion-icon style="font-size: 15px;" name="arrow-forward"></ion-icon></span>
      </div>



    <!-- <button ion-button class="btn" *ngIf="currentIndex==false" [disabled]="checkenable" (tap)="slideNext()" >Next</button>
    <button ion-button class="btn"*ngIf="currentIndex==true" [disabled]="checkesubmit" (tap)="showConfirm()">Submit</button> -->
  
        
                <!-- <button ion-button full [disabled]="checkenable"
                 class="bottomcss" *ngIf="currentIndex==false" (tap)="slideNext()">Next</button>
              <button ion-button [disabled]="checkesubmit"
               class="bottomcss" *ngIf="currentIndex==true" full (tap)="showConfirm()">Submit</button> -->
          
        </ion-slide>
      </ion-slides>
    </div>
  <div *ngIf="success==0">
    <img src="{{image}}" alt="">
   <br><br><br><br>


  </div>
</ion-content>
