<div class="cardDiv topSlider">
    <div class="tS1 skeletonBg"></div>
    <div class="tS2 skeletonBg"></div> 
</div>
<br>

<div class="cardDiv One">
  <div class="fourCircle skeletonBg"></div>
  <div class="fourCircle skeletonBg"></div>
  <div class="fourCircle skeletonBg"></div>
  <div class="fourCircle skeletonBg"></div>
</div><br>

<div class="cardDiv Two">
  <div class="Top skeletonBg"></div>
  <div class="Middle skeletonBg"></div>
  <div class="Bottom skeletonBg"></div>
</div><br>

<div class="cardDiv Two">
  <div class="Top skeletonBg"></div>
  <div class="Middle skeletonBg"></div>
  <div class="Bottom skeletonBg"></div>
</div><br>

<div class="cardDiv Stories">
  <div class="headDiv"><h2 class="skeletonBg"></h2></div>
  <div class="rota skeletonBg"></div>
  <div class="rota2 skeletonBg"></div>
</div><br>

<div class="cardDiv Wow">
  <div class="headDiv"><h2 class="skeletonBg"></h2></div>
  <div class="circle"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="circle"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="circle"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
</div><br>

<div class="cardDiv SilverHall">
  <div class="headDiv"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="one"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span><span class="skeletonBg"></span></div>
  <div class="one"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span><span class="skeletonBg"></span></div>
</div><br>

<div class="cardDiv SilverHall">
  <div class="headDiv"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="one"><h2 class="skeletonBg"></h2></div>
  <div class="one"><h2 class="skeletonBg"></h2></div>
</div><br>

<div class="cardDiv PlatinumClub">
  <div class="headDiv"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
  <div class="Two"><h2 class="skeletonBg"></h2></div>
</div><br>

<div class="cardDiv SilverHall">
  <div class="headDiv"><h2 class="skeletonBg"></h2></div>
  <div class="one"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span><span class="skeletonBg"></span></div>
  <div class="one"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span><span class="skeletonBg"></span></div>
</div><br>

<div class="cardDiv News">
  <div class="headDiv"><h2 class="skeletonBg"></h2></div>
  <div class="One"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span><span class="skeletonBg"></span></div>
  <div class="Two"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span><span class="skeletonBg"></span></div>
</div><br>

<div class="cardDiv News">
  <div class="headDiv"><h2 class="skeletonBg"></h2></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
  <div class="Two"><h2 class="skeletonBg"></h2></div>
</div><br>

<div class="cardDiv QuickBytes">
  <div class="headDiv"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
</div><br>

<div class="cardDiv QuickBytes">
  <div class="headDiv"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
</div><br>

<div class="QuizTime skeletonBg"></div><br>

<div class="cardDiv Album">
  <div class="headDiv"><h2 class="skeletonBg"></h2><span class="skeletonBg"></span></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
</div><br>

<div class="cardDiv Album">
  <div class="headDiv"><h2 class="skeletonBg"></h2></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
  <div class="One"><h2 class="skeletonBg"></h2></div>
</div><br>

