news-view {
        .newsImg{width:100%;object-fit: cover;}
        .text{ @include line-clamp(2);font-size: 12px }
        .text1{ @include line-clamp(3);font-size: 12px }
        p{margin-top:0px}
        .date{font-size: 12px;color:#444}
        .moduleIcon{width:20%;object-fit: contain;};
        .imgcss{ height: 90px;width: 100%;object-fit: cover;}
  .para{font-weight:bold;}
  .datepara{font-size: 12px;}
  .imgcss1{ height: 25px;width: 25px;object-fit: contain;}
  .temptransparentVideo{
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0px;
    bottom: 0px;
    background: transparent;
  }
  .relativeDiv{position: relative;}


}
