page-tabs {

    .tabs-md .tabbar {
        background:white !important;
    }
    .badge-md {
        border-radius: 11px;
        color: #fff;
        background-color: #e22550;
    }
    .has-icon .tab-badge {
        right: calc(50% - 16px);
    }
    .tabs .tab-button-icon {
        // color: #afafaf;
        background:white !important;
        color:#8269a6
    }
    .tabs .tab-button-text {
        background:white !important;
        color: #afafaf;
    }
    .tabs .tab-button[aria-selected=true] {
        background:#efefef !important;
        // color: #ffffff;
        // padding: 0;
    }
    .tabs .tab-button[aria-selected=true] .tab-button-text {
        background:white !important;
        color: #ffffff;
        padding: 0;
    }
    .tabs .tab-button[aria-selected=true] .tab-button-icon {
        // color: #ffffff;
        background:#efefef !important;
        color:#4c2648;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
.tempTimetext{
    position: absolute;
    width: 100%; background: $theme-titlecolor; color: #fff; font-weight: bold; bottom: 0;
}

#wrapper {height:100%;width: 100%; margin: 0;padding: 0;border: 0; }
#wrapper td { vertical-align: middle;text-align: center; }

}
