<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div [ngClass]="{'newOverlay':previousPageData && previousPageData.form_status != 'enable'}">
  <div>
    <img
      class="imgcss"
      srcset="{{previousPageData?.image}}"
      src="../../assets/imgs/LTA.png"
    />
  </div>

  <div padding>
    <ion-row>
      <ion-col col-12 class="marginleft">
        <p [innerHTML]="previousPageData?.description">
          <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.   -->
        </p>
      </ion-col>
    </ion-row>

    <ion-row
      [ngClass]="{'fillBg' : (radiocheck == 1), 'notFill':(radiocheck != 1)}"
    >
      <ion-col col-1 class="centr">
        <input
          type="radio"
          id="lta1"
          value="1"
          name="lta"
          [(ngModel)]="lta"
          (change)="getVal($event, lta)"
        />
      </ion-col>
      <ion-col col-11>
        <label for="lta1" class="radio-inline title" style="margin-right:15px"
          >I do not want to opt for LTA</label
        >
      </ion-col>
    </ion-row>

    <ion-row
      [ngClass]="{'fillBg' : (radiocheck == 0), 'notFill':(radiocheck != 0)}"
    >
      <ion-col col-1 class="centr">
        <input
          type="radio"
          id="lta"
          value="0"
          name="lta"
          [(ngModel)]="lta"
          (change)="getVal($event, lta)"
        />
      </ion-col>
      <ion-col col-11>
        <label for="lta" class="radio-inline title" style="margin-right:15px"
          >I would like to opt for LTA</label
        >
      </ion-col>
    </ion-row>

    <ion-row *ngIf="radiocheck==0">
      <ion-col col-12>
        <p>LTA cannot be greater than special allowance offered to you.</p>
        <p>
          Please refer to your CTC break up to check the exact amount of special
          allowance.
        </p>
        <p>Please enter the monthly desired LTA amount</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="radiocheck==0">
      <ion-col col-3></ion-col>

      <ion-col col-6 class="centr">
        <ion-item class="passwordField">
          <ion-input
            class="bottomLine"
            type="number"
            placeholder=""
            clearOnEdit="false"
            autocorrect="on"
            [(ngModel)]="amount"
            (ngModelChange)="Ltaamount(amount)"
            class="inputcls"
          ></ion-input>
        </ion-item>
        <p *ngIf="anualamount!=undefined" class="pcolor">
          {{(anualamount > 0) ?  anualamount + ' per annum' : ''}}
        </p>
      </ion-col>
      <ion-col col-3><p>Per month</p></ion-col>
    </ion-row>
  </div>
  <br /><br />
  <div
    class="centr"
    *ngIf="previousPageData && previousPageData.form_status == 'enable'"
  >
    <button
      ion-button
      round
      class="btn"
      *ngIf="radiocheck==undefined || (radiocheck==0 && showhidebutton==0)"
    >
      Submit
    </button>
    <button
      ion-button
      round
      class="btn1"
      *ngIf="(radiocheck==1) || (radiocheck==0 && showhidebutton==1)"
      (click)="travellassitance()"
    >
      Submit
    </button>
  </div>
  </div>
</ion-content>
