page-show-all-comment {
   .likeCommentText{
            font-size: 12px;
            color: #444;
            margin-top: 10px;}
            .redHeart{
                color: $theme-titlecolor;
            }
          .showNumLikeComm{
                font-size: 15px;
                color: #444;}
                .likeonly{
                    font-size: 15px; color: $theme-titlecolor;
                }
        .m0{margin: 0px;}
        .borderb{border-bottom: 1px solid #e8e7e7;}
    .colcolor{    background: lightgray;
        border-radius: 4px;}
       .imgcss{    height: 250px;
        width: 100%;
        object-fit: cover;}
        .margincss{margin: 8px;}
        .bordercss{border-bottom: 1px solid lightgray;}
       
        .bordercss1{text-align: left;}
        .imgcss2{    height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;}
        .mrtop{margin-top: 0px;margin-bottom: 0px;    text-align: left;
            font-size: 1.4rem;} 
        .mrtop1{margin-top: 0px;font-size: 10px; margin-bottom: 0px;}  
        .sendButtonCss{
            font-size: 24px;
            margin-top: 1px;
            color: black;
            padding-left: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }   
    
    
}
