page-bankinstruction {
.imgcss{  height: 20px;}
.imgcss1{    height: 139px;
    width: 141px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: -59px;}
.imgcenter{text-align: center;}

.btndiv{text-align: center;}
.btn{
    width: 31%;
    border-radius: 20px;
    font-size: 10px;
    background: #e22550;
    // background-image: linear-gradient(to bottom, $theme-titlecolor, #e22550);
}
}
