page-backgroundcheck {
    .paddbottom0{padding-bottom:0px;}
    .relativeDiv {
        position: relative;
    }
    .padding0{padding-left: 0px;}
    .fontsize{font-size:9px;}
    .activityIcon{width:30px;}
    // .pendingIcon{color: #ffc107;font-size: 25px;}
    // .approvedIcon{color: green;font-size: 25px;}
    // .rejectedIcon{color: #d64141;font-size: 25px;}

    .pendingIcon{color: #e51d48 ;font-size: 25px;}
    .approvedIcon{color: green;font-size: 25px;}
    .rejectedIcon{color: #ffbd10;;font-size: 25px;}


    .learningList {
        background: white;
        // background-image: linear-gradient(to right, #dcdedd, #a9aaa5);
        border-radius: 5px;
        box-shadow: -1px 0px 1px 1px #ffffff;
    }
    .relativeDiv {
        position: relative;
    }
    .absoluteDiv {
        position: absolute;
        top: -3px;
        left: -14px;
        padding: 0px;
        width: 65px;
        height: 65px;
    }
    .courseTitle{
        @include line-clamp(2);
    }
    .martop{margin-top: -4px;}
    .mt-10{margin-top:10px;margin-bottom:10px;}
    .mt-3{margin-top:3px;}
    .centerData{    display: block; margin: auto;}
    .firstpositionRelative{text-align: center;}
    .firstpositionRelative .progress-wrapper tspan{
   
        font-size: 18px !important;
        }
        .btndiv{text-align: center;
            // position:absolute;
            // bottom: -17px;
            // left: 0;
            // right: 0;
        }
       
        
        .btn{background:  #e22550;;}
        .marginauto{margin: auto;text-align: end;}
        .martop{margin-top: -4px;}
        .progress-wrapper tspan{
            font-size: 10px !important;
            }
}
