page-home {
    
    .simgcss{    height: 41px;
        width: 41px;}
    .spara1{color:red;text-align: left;}    
    .spara{text-align: left;}
    .surveyCard{width:98%;margin:5px 10px 10px 10px;border-radius:6px;}
    .btn{
        // width: 65%;
        border-radius: 20px;
        font-size: 10px;
        background: #e22550;
        // background-image: linear-gradient(to bottom, $theme-titlecolor, #e22550);
    }

    .tcss{height: 110px;object-fit: cover;
        width: 100%;}
    .wellness .swiper-pagination {
        bottom: 30px;
    }
    .wellness .swiper-pagination-bullet-active {
        background: #4d2748;
    }
    .wellness .swiper-pagination-bullet {
        border: 1px solid #4d2748 !important;
    }


    .bgClr{background-color: $theme-titlecolor;    height: 107px;
        width: 100%;
        position: absolute;
        top: 0;opacity: 0.9;
        z-index: -1;}
        .formCircle tspan{
            font-size: 10px;
            font-weight: bold;color:  $theme-titlecolor;
        }
    .parracss{margin-top: 4px;margin-bottom: 4px;}
    .padding0{padding-top: 0px;}
    .margincss{margin-top: 5px;margin-bottom: 0px;}
    .customCardLayout{box-shadow: 1px 1px 1px 2px #cdcdcd;  margin-bottom: 10px;
        background-color:#fff;
        width: 96%;
        margin-top: 10px;
        border-radius: 7px;
}
.welcomeOnboard{box-shadow: 1px 1px 1px 2px #cdcdcd;  margin: 10px;
    border-radius: 7px;
    background: #efefef;
}
.userImage{width: 40px; height: 40px;object-fit: cover; border-radius: 50%;}
.userImageIcon{    font-size: -webkit-xxx-large;color: #fff;}
.alertInfo{
    margin: 0px 0px 10px 0px;
    font-size: 10px;
    color: red;
    font-weight: 500;
}
// .toolbar-background-md {
//     border-color:#542e56;
//     color:white;
//     background: #542e56;
// }
// .toolbar-title-md {
//     padding: 0 12px;
//     font-size: 2rem;
//     font-weight: 500;
//     color: white;
// }

.learningTitle{color: #626262;}
.progress-wrapper~p{margin: 0px}
    .positionRelative{
        position: relative;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
        color: #555;
      }
      .centerData{display: block;margin: auto}
     .percentageValueSkelton, .percentageValue { top: 33%; position: absolute; width: 100%; text-align: center;  font-size: 22px;  font-weight: 600;
        color: $theme-titlecolor;}
        .bghome{
           padding:10px;
        }
        .div2{
            background-color: #fff ;
            height: auto;    margin-left: 6px;
            width: 96%;
            margin-top: 10px;    padding-left: 10px;padding-right : 10px;
            border-radius: 7px;
            box-shadow: 1px 1px 1px 2px #cdcdcd;
            margin-bottom: 10px;
        }
        .imageicon{
            height:52px;
            width:52px;object-fit: contain;
        }
        .modulecol{
            text-align: center;
        }
        .innerdiv{
               /* height: 50px; */
    /* width: 50px; */
    -webkit-box-shadow: 1px 1px 1px 2px #353333;
    box-shadow: 1px 1px 1px 2px #d6d6d6;
    background-color: transparent;
    padding: 5px 0px;
    position: relative;
        }

        .checkmark, .checkmark2, .checkmark3{
            align-items:right; position: absolute;right: 5px;font-size: 24px;
        }
        .checkmark{ color: green; }
        .checkmark2{ color: rgb(155, 155, 155); }
        .checkmark3{    color: goldenrod; }
.relativeDiv{
    position:relative;
}
.tintAbso{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0;
}
.ceoMessage{
    height:150px;    margin: 7px;
    border-radius: 7px;
    overflow: hidden;
}
.absoluteCeoText p{
    position: absolute;
    bottom: 9px;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    z-index: 2;
    margin: 2px;
    font-size: 13px;
    font-weight: 500;
    @include line-clamp(1);
}
.welcomeOnboard {background: #fff}
.welcomeOnboard img {
    width: 100%;    border-radius: 5px;
    height: 100px;
    object-fit: cover;border: 1px solid #d4d4d4;
}
.welcomeOnboard p.usernameOnboard {    font-size: 12px;
    font-weight: 600;
    color: #444;
    margin-top: 2px;
    margin-bottom: 0px;
    @include line-clamp(1);
}
.welcomeOnboard p {    font-size: 13px;
    font-weight: 500;
    color: #444;
    @include line-clamp(1);
}
.welcomeOnboardInfo{
    padding: 8px;
    border-radius: 22px;
    overflow: hidden;
}
.headerImage{width:30%;display: block;margin: auto;object-fit: contain;    margin-left: 25%;}

//**********about eval
.aboutEvalBg{width:100%;max-height: 150px;
    object-fit: cover;}
.aboutEvalBTN{
    // background-image: linear-gradient(to bottom, $theme-titlecolor, #e22550);

    background: #e22550;
    font-size: 10px;
    display: block;
    margin: 10px auto;
    height: 24px;
    // width:65%;
}
.aboutEvalBTNDiv{position: absolute;width:100%;
   
    bottom: 5px;}

//************about eval


//album
.albumDiv{
    position:relative;
    .transparentLayer_black{
        position: absolute;z-index: 1;top:0;bottom: 0;left:0;right:0;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.29), rgba(102, 102, 102, 0), rgba(60, 60, 60, 0), rgba(0, 0, 0, 0.52), #000)
        
    }
    img{width:100%;object-fit: cover;}
    .userName {
        position: absolute;
        z-index: 2;
        bottom: 0px;
        left: 0;
        padding: 0 5px;color:#fff;
        width: 100%;font-size:12px;
       
        .text{
            @include line-clamp(1);
        }
    }
}

// .lifeAtEval{
//     // img{width:100%;object-fit: cover;}
//     .text{
//         @include line-clamp(2);
//     }
//     p{margin-top:0px}
//     .date{font-size: 12px;color:#444}
// }

//album end
// ion-card{
//     margin: 4px 10px !important;
// }
.formSectionCard{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;    background-size: cover;
    margin-bottom: 5px;
    background-position: -5px 0px;
}
.parent{
    position: relative;
    .child{
        position: absolute;
        left: 10%;
        bottom: 12%;
        height: 24px;
    }
}


//skelton codeing*******************
.outerCircleSkelton, .messageSkelton{filter: blur(2px);}
.blurDataSkelton,.messageSkelton{background: rgba(206, 206, 206, 0.76);display: block;margin: auto !important}

.percentageValueSkelton{
    top: 24%;color: gray;filter: blur(4px);
}

.outerCircleSkelton{
    width: 83px;
    height: 83px;
    border-radius: 50%;
    border: 2px solid gray;
    display: block;
    margin: 20px auto; 
}
.messageSkelton{
    width:60%;
    height: 15px;
}
.nameSkelton{
    width:100%;filter: blur(4px);
    height: 31px;
    }
   
//end skelton codeing*******************

.bar-button-menutoggle-ios,.bar-button-menutoggle-md, .menucon{
    color:#4d2748 !important;
}

}
