<div class="padd">

  <div class="cardDiv people">
    <div class="headDiv"><h1 class="skeletonBg"></h1></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>   
  </div><br>

  <div class="cardDiv people">
    <div class="headDiv"><h1 class="skeletonBg"></h1></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>   
  </div><br>

  <div class="cardDiv people">
    <div class="headDiv"><h1 class="skeletonBg"></h1></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>   
  </div><br>
  
    
  
  </div>
  
  
