page-globalpolicylist {
    .userImage{object-fit: cover}
    
    .classTheme{background: rgba(77, 39, 72, 0.04);}
    .title{
        color:$theme-titlecolor;font-weight: 600;
        // text-align: -webkit-center;
        white-space: normal;
    }
    .designation{font-size: 13px;}
    //skelton codeing*******************
    .imageSkelton, h1.nameSkelton,.messageSkelton{
        background: rgba(206, 206, 206, 0.76);
        filter: blur(2px);
    }
    .blurData{ filter: blur(4px);}
}
