<ion-menu side="left" type="push" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let item of menuItems" (click)="openPage(item)">
        <ion-row>
            <ion-col col-auto>
                <!-- <img class="appIconCss" src="{{item.icon}}" />  -->

                <div *ngIf="item?.type=='icon'"> <ion-icon name="{{item?.iconName}}"style="color:gray"></ion-icon></div>
                <div *ngIf="item?.type!='icon'"><img class="appIconCss" src="{{item.icon}}" /> </div>
              </ion-col>
              <ion-col>
                  <p class="appsendmessagecss" (tap)="openPage(item)">{{ item.name }}</p>
              </ion-col>
        </ion-row>
      </button>
    </ion-list>
    <!-- <div class="sidemenu_clientLogoDIV"><img src="../assets/imgs/logologin.png" class="benepikCopyRight"/></div> -->
  </ion-content>

</ion-menu>

<table *ngIf="showDummyScreen==true" id="wrapper">
    <tr>
      <td> <img src="assets/imgs/clientLogo.png"class="dummyScreenIcon2"></td>
    </tr>
  </table>
<p *ngIf="showDummyScreen==true" class="dummyScreenWaitText">Please wait, your data is preparing...</p>


<div *ngIf="isAvailable==false">
    <div class="trasparentNetworkDIV" ion-fixed></div>
     <p  ion-fixed class="networkText">You are not connected with internet. Please Check your network and try again.</p>
    </div>
    
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage"   #content swipeBackEnabled="false"></ion-nav>
<!-- <ion-nav [root]="rootPage" (click)="handleClick($event)"  #content swipeBackEnabled="false"></ion-nav> -->