page-savingpreferences {
.divcss{border: 1px solid;margin-bottom: 7px;
    border-left: 10px solid #d41111;
    border-radius: 0px 5px 5px 0px;background: rgba(128, 128, 128, 0.2196078431372549);}
 .mrbottom{margin-bottom: 0px;}
 .mrtop{margin-top: 0px;} 
 .btn1{
    // width: 90%;
    border-radius: 20px;
    
    background-image: linear-gradient(to bottom, $theme-titlecolor, #e22550);
}
.centr{text-align: center;}  
}
