
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="instruction">
<ion-row>
  <ion-col col-12>
<p style="font-size: 15px;" [innerHTML]="instruction">
</p>
  </ion-col>
</ion-row>

<div class="btndiv">
 <button ion-button  class="btn" (click)="gotoserverpage()">Next</button>
</div>
</div>

<div *ngIf="!instruction" >
    <img style="width:100%;"  src="../../assets/imgs/skelton/instruction.png" class="textSkelton" />
  </div>
  
</ion-content>
