<div class="padd">

  <div class="topSlider">
    <div class="tS1 skeletonBg"></div>
  </div>
  <br>

  <div class="cardDiv One">
    <h2 class="skeletonBg"></h2>
    <p class="skeletonBg"></p><br>
    <div class="span"><span class="Circle skeletonBg"></span></div>
    <div class="span"><span class="skeletonBg"></span></div>
  </div><br>

  <div class="cardDiv people">
    <h1 class="skeletonBg"></h1>
    <h4 class="skeletonBg"></h4>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>
    <div class="one"><h2 class="skeletonBg"></h2><p class="skeletonBg"></p></div>    
  </div><br>

  <div class="botBtn skeletonBg"></div>

  

</div>

