page-survey-instruction {
    .btn{
        width: 40%;
        border-radius: 20px;
        font-size: 10px;
        background: #e22550;
        display: block;
        margin: auto
    }
    ul {
        list-style: none; /* Remove default bullets */
        padding-inline-start: 15px;
      }
      
      ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: red; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */ 
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1.5em; /* Also needed for space (tweak if needed) */
      }
      li{
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 15px;
        text-align: justify;}
}
