<ion-header>
  <ion-navbar>
    <ion-title>Choice Of Bank Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg" padding>
  <div [ngClass]="{'newOverlay':previousdata && previousdata.form_status != 'enable'}">
  <ion-row>
    <ion-col col-6>
      <p class="font">{{heading}}</p>
    </ion-col>
    <ion-col col-6></ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-1 class="mrauto">
      <img class="imgcss" src="../../assets/imgs/bullet.png" />
    </ion-col>
    <ion-col col-11>
      <p class="colorpara">
        Salary benefits will be given only to Axis and HDFC account holders.
      </p>
    </ion-col>
  </ion-row>
  <br /><br /><br />
  <!-- <ion-row *ngFor="let data of option ; let i = index">
  <ion-col col-1 class="centr"  >
      

    <input type="radio" [checked]="i == selectedIndex"  id="radio{{i}}" name="radiogroup" [(ngModel)]="radiogroup" 
    (ngModelChange)="RadioCheck(i)"  />
     
  </ion-col>
  <ion-col col-11>
      <label class="radio-inline lablfont" for="radio{{i}}" style="margin-right:15px">{{selectedIndex}}== {{i}} // {{data.option_list}}</label>
    </ion-col>
</ion-row><br><br><br> -->

  <!-- 
<div *ngFor="let data of option ; let i = index">
    <input type="radio" [checked]="i==selectedIndex"  [(ngModel)]="radiogroup"
    (ngModelChange)="RadioCheck(i)" name="radiogroup" />
    <label class="radio-inline lablfont" for="radio{{i}}" style="margin-right:15px"></label>
</div> -->
  <!-- <div style="position: relative"> -->
  <div style="position: relative">
    <ion-row
      *ngFor="let data of option ; let i = index"
      (click)="fun(i)"
      [ngClass]="{'fillBg' : (selected == i), 'notFill':(selected != i)}"
    >
      <ion-col col-1 class="centr" style="margin: auto;">
        <!-- <ion-icon *ngIf="selected==i"  name="checkmark-circle-outline" class="approvedIcon"></ion-icon> -->
        <!-- <ion-icon   name="checkmark-circle-outline" class="approvedIcon"></ion-icon> -->
        <img *ngIf="selected==i" src="../../assets/imgs/radio button.png" />
        <img
          *ngIf="selected!=i"
          src="../../assets/imgs/radio buttonempty.png"
        />

        <!-- <ion-icon *ngIf="selected!=i" name="time" class="pendingIcon" ></ion-icon> -->
      </ion-col>
      <ion-col col-11>
        <p>{{data.option_list}}</p>
        <!-- <label class="radio-inline lablfont" for="radio{{i}}" style="margin-right:15px">{{selectedIndex}}== {{i}} // {{data.option_list}}</label> -->
      </ion-col> </ion-row
    ><br /><br /><br />

    <div
      *ngIf="shownext==false"
      style="position: absolute;z-index:99;top:0;bottom:0;
width:100%;background-color: rgba(232, 232, 232, 0.62);"
    ></div>
  </div>
  <!-- </div> -->

  <div
    *ngIf="previousdata && previousdata.form_status == 'enable'"
    class="btndiv"
  >
    <button
      ion-button
      *ngIf="(shownext==true || selected=='')"
      class="btn"
      (click)="gotonext()"
    >
      Next
    </button>
    <button ion-button *ngIf="shownext==false" class="btn" (click)="edit()">
      Edit
    </button>
  </div>
</div>
</ion-content>
