<div class="postImage"></div>
<div class="postTitleSkelton">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
<div class="postParaSkelton"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
<div class="postParaSkelton">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
<ion-row>
    <ion-col col-12 class="bottom-line blurMe">
        <button ion-button color="theme" class="blurMe" small clear>3 Likes</button>
        <button ion-button color="theme" class="blurMe" small clear>2 Comments</button>
    </ion-col>
</ion-row>

<ion-row class="themeShadow">
    <ion-col col-6>
        <button ion-button color="theme" clear class="blurMe"> <ion-icon name="md-thumbs-up"></ion-icon>&nbsp;&nbsp; Like</button>
    </ion-col>

    <ion-col col-6>
        <button ion-button color="theme" clear class="blurMe"> <ion-icon name="md-chatboxes"></ion-icon>&nbsp;&nbsp; Comment</button>
    </ion-col>
</ion-row>
<!-- <ion-row *ngFor="let data of [0,1]">
    <ion-col col-2>
      <img [src]="previousePageData.userImage" class="commentedUserImage" imageViewer/>
    </ion-col>
    <ion-col col-10>
      <div class="commentHolder">
        <p class="commentedUserName">Test</p>
        <p class="commentedUserLocation">Pune</p>
        <p class="commentedUserDate">02 May, 2019</p>
        <p class="comment">Very nice article</p>
      </div>
      <ion-row>
          <ion-col col-12 >
              <button ion-button color="theme" small clear><ion-icon name="md-thumbs-up"></ion-icon>.&nbsp;&nbsp; 3 Likes</button>
            |  <button ion-button color="theme" small clear><ion-icon name="md-chatboxes"></ion-icon>.&nbsp;&nbsp;2 Comments</button>
          </ion-col>
      </ion-row>
    </ion-col>

</ion-row> -->