<ion-header>
  <ion-navbar>
    <!-- <ion-title>{{albumallData[0]?.album_title}}</ion-title> -->
    <ion-title>{{album_title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-row>
        <ion-col col-12>
          <div class="margincss">
              <img  class="imgcss" onerror="this.src='../../assets/watermark/watermark.png'" #myImage
              src="{{albumimg}}" (click)="presentImage(myImage)"  >
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="margincss">
          <ion-col col-3 class="bordercss" (click)="gotolikelist()">
        <p *ngIf="totallike==0">Like</p>
        <p *ngIf="totallike==1">{{totallike}}&nbsp;Like</p>
        <p *ngIf="totallike>1">{{totallike}}&nbsp;Likes</p>
          </ion-col>
          <ion-col col-9 class="bordercss">
            </ion-col>
        </ion-row>

        <ion-row class="margincss">
            <ion-col col-6 (click)="goforlike(like_status)">
              <p *ngIf="like_status==1" ><span> <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></span>&nbsp;Like</p>
              <p *ngIf="like_status==0"><span> <ion-icon ios="ios-thumbs-up-outline" md="ios-thumbs-up-outline"></ion-icon></span>&nbsp;Like</p>
            </ion-col>
            <ion-col col-6 class="bordercss1" (click)="goforcomment()">
          <p><span><ion-icon ios="ios-text" md="md-text"></ion-icon></span>&nbsp;Comment</p>
              </ion-col>
          </ion-row>
<hr>

  <ion-row class="margincss" >
      <ion-col col-12 >
    <p *ngIf="totalcomment==1">{{totalcomment}}&nbsp;Comment</p>
    <p *ngIf="totalcomment>1">{{totalcomment}}&nbsp;Comments</p>
    </ion-col>
  </ion-row>

  <ion-row class="margincss" *ngFor="let cmt of commentdata">
      <ion-col col-2>
          <div class="commentimg">
              <img class="imgcss2"  src="../../assets/watermark/watermark.png" srcset="{{cmt.comment_by_image}}">
          </div>
      </ion-col>

      <ion-col col-10 class="colcolor">
<ion-row>
  <ion-col col-7 no-padding>
      <p class="mrtop">{{cmt.comment_by_name}}</p>
  </ion-col>
  <ion-col col-5 no-padding>
      <p class="mrtop1">{{cmt.date_time}}</p>
  </ion-col>
</ion-row>


        <ion-row>
          <ion-col col-12>
<p class="mrtop" [innerHTML]="cmt.comment"></p>
          </ion-col>
         
        </ion-row>
          </ion-col>
    </ion-row>
    <br><br><br><br><br> -->


  <ion-slides *ngIf="albumallData" class="image-slider" initialSlide="{{index}}" slidesPerView="1"  (ionSlideDidChange)="ionSlideDidChange()">
    <ion-slide *ngFor="let img of albumallData; let ind=index">
      <img style="    height: 200px;
      object-fit: contain;" src="{{img?.image}}" class="thumb-img" imageViewer/>
      <h6>{{img?.title}}</h6>
      <ion-row class="margincss borderb">
        <ion-col col-3 class="bordercss" (click)="gotolikelist(img?.like_count,img)">
          <p *ngIf="img?.like_count==0" class="m0 likeCommentText">Like</p>
          <p *ngIf="img?.like_count==1" class="m0 likeCommentText">{{img?.like_count}} &nbsp;Like</p>
          <p *ngIf="img?.like_count>1" class="m0 likeCommentText">{{img?.like_count}} &nbsp;Likes</p>
        </ion-col>
        <ion-col col-9 class="bordercss" (click)="showAllComment(img)">
          <p *ngIf="img?.comment_count==0" class="m0 likeCommentText">Comment</p>
          <p *ngIf="img?.comment_count==1" class="m0 likeCommentText">{{img?.comment_count}} &nbsp;Comment</p>
          <p *ngIf="img?.comment_count>1" class="m0 likeCommentText">{{img?.comment_count}} &nbsp;Comments</p>
        </ion-col>
      </ion-row>

      <ion-row class="margincss ">
        <ion-col col-6 class="likeonly">
          <div tappable (click)="likeUnlikeFun(img, ind)">
              
          <ion-icon *ngIf="img?.like_status==0 || img?.like_status=='0'" class="emptyHeart" name="ios-thumbs-up-outline"></ion-icon>
          <ion-icon *ngIf="img?.like_status==1 || img?.like_status=='1'" class="redHeart" name="md-thumbs-up"></ion-icon> Like
        </div>
        </ion-col>
        <ion-col col-6 class="bordercss1" (click)="showAllComment(img)">
          <p class="m0 showNumLikeComm">
            <span>
              <ion-icon ios="ios-text" md="md-text"></ion-icon>
            </span>&nbsp;Comment</p>
        </ion-col>
      </ion-row>

    </ion-slide>
  </ion-slides>



</ion-content>
<ion-footer style="margin-bottom:-3px;" *ngIf="displayBox==true">
  <form #f="ngForm" style="background-color: white;">
    <ion-row style="
                       border-top: 1px solid grey;">
      <ion-col col-11>
        <div style="background-color: white;
                    margin-bottom: 12px!important;
                    border-radius: 15px;
                    margin-top: 11px;">
          <ion-textarea style="border-radius:20px;" type="text" class="textButton" [(ngModel)]="mycomment" name="mycomment" placeholder="Write your comments..."
            required>
          </ion-textarea>
        </div>
      </ion-col>
      <ion-col col-1 class="sendButtonColCss" *ngIf="mycomment!= null || mycomment!= undefined" (tap)="sendComment(f)">
        <ion-icon class="sendButtonCss" name="send"></ion-icon>
      </ion-col>
    </ion-row>
  </form>
</ion-footer>