page-terms-and-conditions {
    .btn{
        width: 70%;
        border-radius: 20px; 
        background: #e22550;      
        // background-image: linear-gradient(to bottom, $theme-titlecolor, #e22550);
    }
    li{
        text-align: justify;
    }
    .btn1{
        width: 70%;
        border-radius: 20px; 
        background: #cccccc;      
        // background-image: linear-gradient(to bottom, $theme-titlecolor, #e22550);
    }
}
